<md-list flex>

    <section ng-hide="$root.user === null">

        <!-- Transactions -->

        <md-subheader class="md-no-sticky">Transactions</md-subheader>

        <md-list-item ng-click="$root.changeState('transaction.form')">
            <img ng-src="img/ic_attach_money_black_24px.svg" alt="Add Transaction">
            <span>&nbsp;Add Transaction</span>
        </md-list-item>

        <md-list-item ng-click="$root.changeState('transaction.browse')">
            <img ng-src="img/ic_attach_money_black_24px.svg" alt="Browse All">
            <span>&nbsp;Browse All</span>
        </md-list-item>

        <!-- Catgeories -->

        <md-subheader class="md-no-sticky">Categories</md-subheader>

        <md-list-item ng-click="$root.changeState('category.form')">
            <img ng-src="img/ic_bubble_chart_black_24px.svg" alt="Add Category">
            <span>&nbsp;Add Category</span>
        </md-list-item>

        <md-list-item ng-click="$root.changeState('category.browse')">
            <img ng-src="img/ic_bubble_chart_black_24px.svg" alt="Browse All">
            <span>&nbsp;Browse All</span>
        </md-list-item>

        <!-- Weekly Reports -->

        <md-subheader class="md-no-sticky">Weekly Reports</md-subheader>

        <md-list-item ng-click="$root.changeState('report.individual')">
            <img ng-src="img/ic_person_black_24px.svg" alt="Individual">
            <span>&nbsp;Individual</span>
        </md-list-item>

        <md-list-item ng-click="$root.changeState('report.family')">
            <img ng-src="img/ic_group_black_24px.svg" alt="Family">
            <span>&nbsp;Family</span>
        </md-list-item>

    </section>

</md-list>