<div layout="row" layout-align="center center" layout-fill>

    <md-card flex="25" style="margin-top: -150px;">
        <md-card-content>

            <form name="loginForm" id="login-form">
                <div layout="column">

                    <md-input-container>
                        <label>First Name</label>
                        <input required type="text" name="firstName" ng-model="user.firstName" md-autofocus>
                        <div ng-messages="loginForm.username.$error" role="alert">
                            <span ng-message=required>This is required.</span>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Last Name</label>
                        <input required type="text" name="lastName" ng-model="user.lastName">
                        <div ng-messages="loginForm.password.$error" role="alert">
                            <span ng-message="required">This is required.</span>
                        </div>
                    </md-input-container>

                    <md-button type="submit" form="login-form" class="md-block md-primary md-raised" ng-click="login()" ng-disabled="loginForm.$invalid || $root.nascent">Login</md-button>

                </div>
            </form>

        </md-card-content>
    </md-card>

</div>